In [1]:
a = [1,2,3]
a.insert(0,4)
print(a)

[4, 1, 2, 3]

In [3]:
a.insert(0, ['a','b'])
print(a)

[['a', 'b'], 4, 1, 2, 3]

In [ ]:
a.remove(4)
print(a)

리스트 확장 (extend) = 리스트의 더하기
- 괄호 안에는 리스트만 올 수 있음

In [2]:
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [3]:
a = [1,2,3]
b = [4,5]
print(a+b)

[1, 2, 3, 4, 5]

In [5]:
t1=(1)
type(t1)

int

In [6]:
t2=(1,)
type(t2)

tuple

In [7]:
t1=(1,2)
t2=(3,4)
t3=t1+t2
print(t3)

(1, 2, 3, 4)

리스트 패팅, 언패킹
ex > 1에 a가 들어감

In [11]:
t1=1,2,3,4,5
a,b,c,d,e=t1
print(t1)

(1, 2, 3, 4, 5)

In [12]:
print(1)

1

In [13]:
print(t1[0])

1

In [10]:
a, *b = t1
print(a,b)

1 [2, 3, 4, 5]

T1에서 1를 a, 2를 b, 나머지를 c에 저장

In [14]:
a, b, *c =t1
print(a,b,c)

1 2 [3, 4, 5]

튜플과 리스트 변경

In [16]:
T = (1,2,3,4,5)
L = list(T)
print(L)

[1, 2, 3, 4, 5]

In [17]:
L = [1,2,3]
T = tuple(L)
print(T)

(1, 2, 3)

In [18]:
dic = {'name': 'pay', 'phone': '01011112222', 'birth': '1118'}

In [21]:
a = dict(one=1, two=2)
print(a)

{'one': 1, 'two': 2}

In [24]:
b = dict([['one', 1], ['two', 2]])
print(b)

{'one': 1, 'two': 2}

keys 변수에 one, two, three 튜플 생성
values 변수에 1,2,3 리스트 생성

In [26]:
keys = ('one', 'two', 'three')
values = [1,2,3]
a = dict(keys=values)
print(a)

{'keys': [1, 2, 3]}

In [29]:
keys = ('one', 'two', 'three')
values = [1,2,3]
c= dict(zip(keys, values))
print(c)

{'one': 1, 'two': 2, 'three': 3}

딕셔너리 쌍 추가

In [1]:
a = {2:'b'}
print(a)

{2: 'b'}

In [2]:
a[1]='a'
print(a)

{2: 'b', 1: 'a'}

In [7]:
def add(a,b):
    return a + b
def sub(a,b):
    return a - b 

action = {0:add, 1:sub}

In [10]:
print(action[0](1,2))

3

딕셔너리 요소 제거

In [11]:
dic = {'name': 'pay', 'phone': '01011112222', 'birth': '1118'}
del dic['phone']
print(dic)

{'name': 'pay', 'birth': '1118'}

키 리스트 만들기

In [12]:
dic = {'name': 'pay', 'phone': '01011112222', 'birth': '1118'}
print(dic.keys())

dict_keys(['name', 'phone', 'birth'])

In [13]:
print(dic.values())

dict_values(['pay', '01011112222', '1118'])

In [14]:
print(dic.items())

dict_items([('name', 'pay'), ('phone', '01011112222'), ('birth', '1118')])

In [15]:
dic.clear()
print(dic)

{}

In [16]:
dic = {'name': 'pay', 'phone': '01011112222', 'birth': '1118'}
print(dic.get('name'))

pay

dic 딕셔너리에서 nokey 키에 해당하는 값 추출하기 (대괄호 사용)

In [17]:
print(dic['nokey'])

KeyError: 'nokey'

dic 딕셔너리에서 nokey 키에 해당하는 값 추출하기 (대괄호 사용)

In [18]:
print(dic.get('nokey'))

None

해당 키가 딕셔너리 안에 있는지 조사 (in)

In [19]:
print('name' in dic)

True

In [20]:
print('email' in dic)

False

In [21]:
print('pay' in dic)

False

In [22]:
s1 = set([1,2,3])
print(s1)
type(s1)

{1, 2, 3}

set

In [24]:
s2 = set('hello')
print(s2)
print(type(s2))

{'l', 'e', 'o', 'h'}
<class 'set'>

In [25]:
print(s1.union(s2))

{'o', 1, 2, 3, 'e', 'l', 'h'}

In [27]:
print(s1-s2)

{1, 2, 3}

In [28]:
print(s1.difference(s2))

{1, 2, 3}

값 여러개 추가 (update)

In [34]:
s1.update((10,11))
print(s1)

{1, 2, 3, 8, 9, 10, 11}

부울

In [35]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [36]:
a = [1,2,3]
print(id(a))

1514819235904

In [37]:
b = a
print(id(b))

1514819235904

In [38]:
c = [1,2,3]
print(id(c))

1514819342144

In [41]:
money = 2000
if money >=3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [42]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else: 
    print("걸어가라")

택시를 타고 가라

In [45]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    pass
else:
    print("걸어가라")

In [47]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("돈을 꺼내라")
    pass
    print("종이를 꺼내라")
else:
    print("걸어가라")

돈을 꺼내라
종이를 꺼내라

반복문 for 
- 튜플, 리스트, 문자열

In [48]:
for i in ['one', 'two', 'three']:
    print("say")
    print("hello")

say
hello
say
hello
say
hello

In [74]:
score = [90, 25, 67, 45, 80]
for i in range(0,len(score)):
    if score[i] >=60:
        print("{}번 학생 합격입니다.".format(i+1))
    else:
        print("{}번 학생 불합격입니다.".format(i+1))

1번 학생 합격입니다.
2번 학생 불합격입니다.
3번 학생 합격입니다.
4번 학생 불합격입니다.
5번 학생 합격입니다.

In [59]:
score = [90, 25, 67, 45, 80]
number = 0
for i in score:
    number=number+1
    if i >=60:
        print(number, "번 학생 합격입니다.")
    else:
        print(number, "번 학생 불합격입니다.")

1 번 학생 합격입니다.
2 번 학생 불합격입니다.
3 번 학생 합격입니다.
4 번 학생 불합격입니다.
5 번 학생 합격입니다.

In [61]:
score = [90, 25, 67, 45, 80]
number = 0
for i in score:
    number=number+1
    if i >=60:
        print("%d번 학생 합격입니다." %number)
    else:
        print("%d번 학생 불합격입니다." %number)

1번 학생 합격입니다.
2번 학생 불합격입니다.
3번 학생 합격입니다.
4번 학생 불합격입니다.
5번 학생 합격입니다.

for 문과 함께 쓰이는 continue 구문 
- for 문의 맨 처음으로 돌아가기

In [64]:
score = [90, 25, 67, 45, 80]
number = 0
for i in score:
    number=number+1
    if i < 60:
        continue
    print("%d번 학생 합격입니다." %number)

1번 학생 합격입니다.
3번 학생 합격입니다.
5번 학생 합격입니다.

In [67]:
a = range(10)
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
b = range(2,9)
print(list(b))

[2, 3, 4, 5, 6, 7, 8]

In [69]:
c = range(2,9,3)
print(list(c))

[2, 5, 8]

이중 for 문

In [75]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j)
    print("")

2
4
6
8
10
12
14
16
18

3
6
9
12
15
18
21
24
27

4
8
12
16
20
24
28
32
36

5
10
15
20
25
30
35
40
45

6
12
18
24
30
36
42
48
54

7
14
21
28
35
42
49
56
63

8
16
24
32
40
48
56
64
72

9
18
27
36
45
54
63
72
81

In [76]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

반복문 while
- while 문의 조건문이 참이면 수행할 문장들을 계속 수행함
- while 문의 조건문이 거짓일 경우 수행할 문장들이 수행하지 않거나 반복을 멈춤

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." %treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

In [ ]:
ls=["1","2","3","4"]
idx = 0
while ls:
    if ls[idx] != "4":
        idx=idx+1
        print("1. ADD \n2. Del \n3. List \n4. Quit")
return "4. Quit"

In [ ]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter Number : """
number = 0
while number != 4:
    print(prompt)
    number=int(input())